{% extends "base.html" %}


{% block body_block %}
<br>
<div class="container">
    <div class="text-center">
        <h2 class="page-title">Katalog Online</h2>
        </div>
        <br>
        {% if user.is_authenticated %}
            <br>
        {% else %}
                <li class="d-grid gap-2 col-6 mx-auto" style= "background-color: #8be410;">
                    <a class="nav-link mx-auto active" href="{% url 'uzytkownicy:login' %}">Zaloguj się aby móc wypożyczyć książkę!</a>
                </li> 
                <br>  
        {% endif %}

<div class="search-bar">
<form class="form-inline" action="{% url 'ksiegozbior:lista_ksiazek' %}" method="GET">
    <div class="input-group mb-3">
        <input class="form-control" type="search"  placeholder="Wyszukaj" name="search_query" >
        <select class="search-select-lg" name="search_type" style="width: 200px;">
            <option value="title" selected>Tytuł</option>
            <option value="author">Autor</option>            
        </select>
        <div class="input-group-append search-button">
            <button class="btn btn-primary" style="width: 200px;" type="submit">Szukaj</button>
        </div>
    </div>
</form>
</div>

      <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Status</th>
                    
                </tr>
            </thead>
            <tbody>
            {% for ksiazka in lista_ksiazek %}
                    <tr>
                        <td><a href="{% url 'ksiegozbior:szczegol_ksiazki' pk=ksiazka.pk %}">{{ksiazka.title}}</a></td>
                        <td><a> {{ksiazka.first_name}} </a></td>
                        <td><a> {{ksiazka.last_name}} </a></td>
                        <td>
                        {% if ksiazka.status == 'wolna' %}
                            <form class="form-inline" action="{% url 'ksiegozbior:wypozyczenie_create' %}" method="get">
                                <input type="hidden" name="ksiazka_pk" value="{{ ksiazka.pk }}">
                                <button type="submit" class="btn btn-primary btn-sm">Do wypożyczenia</button> 
                            </form> 
                        {% else %}
                            <button type="submit" class="btn btn-warning ">Wypożyczona</button> 
                        {% endif %}
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

    <!-- pagination bar -->
    <div class="pagination_bar">
        {% if is_paginated %}
        <div class="btn-group pagination_bar" role="group">
            
            {% if page_obj.has_previous %}
                <a class="btn btn-light disable" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
                <a class="btn btn-light"><span>&laquo;</span></a>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <a  class="btn btn-dark active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                {% else %}
                <a class="btn btn-light" href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
                
            {% if page_obj.has_next %}
            <a class="btn btn-light" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% else %}
            <a type="button" class="btn btn-light"><span>&raquo;</span></a>
            {% endif %}
        </div>
        {% endif %}
    </div>


</div>
{% endblock %}


