{% extends "base.html" %}


{% block body_block %}

<div class="container">
<!-- Aktualne wypożyczenia -->
<div class="collapse show" id="collapse_current_borrow">
        {% if wypozyczenia_list.count is 0 %}
        <br>
        <br>
            <div class="page-title text-center">
                <h4>Aktualnie nie wypożyczasz żadnej książki!</h4>
            </div>
        {% else %}
            <div class="page-title text-center">
                <h4>Twoje wypożyczenia</h4>
            </div>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Książka</th>
                        <th scope="col">Oddaj książke</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wypozyczenie in wypozyczenia_list %}
                    <tr>
                        <td><a>{{wypozyczenie.książka.title}}</a></td>
                        <td>
                            <form class="form-inline" action="{% url 'ksiegozbior:wypozyczenie_delete' pk=wypozyczenie.pk %}" method="get">
                                    <input type="hidden" name="wypozyczenie_pk" value="{{ wypozyczenie.pk }}">
                                    <button type="submit" class="btn btn-primary btn-sm">Oddaj książkę</button> 
                                </form> 
                        </td>                   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
</div>    
   
</div>
{% endblock %}